spacy_streamlit==1.0.0
wikipedia==1.4.0
streamlit==0.80.0
spacy==3.0.5
    https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz#egg=en_core_web_md==3.0.0
